.body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4ff;
}
.container {
  width: 80%;
  margin: auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-brand h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}
.nav-brand span {
  font-size: 30px;
}
.nav-menu a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 12px;
  color: black;
}
.nav-menu a:hover {
  color: darkred;
}
.btn {
  font-family: "Montserrat", sans-serif;
  background-color: darkred;
  padding: 8px 24px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  transition: all 1s;
}
.lgn {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
  margin-left: 20px;
}
.btn:hover {
  color: white;
  background-color: black;
}

.ai-center {
  align-items: center;
}
.container-main {
  font-family: fontku;
  width: 80%;
  margin: auto;
}
.hero-image {
  display: flex;
  justify-content: right;
  margin-top: 50px;
  width: 1080px;
}
.hero {
  font-family: "Montserrat", sans-serif;
  display: flex;
  padding: 5% 0;
}
.hero-tagline h1 {
  font-size: 2.5em;
  line-height: 120%;
}

.hero-tagline p {
  line-height: 120%;
  margin-bottom: 20px;
}

.hero-tagline span {
  color: goldenrod;
}

.spacer30 {
  height: 30px;
}
.spacer20 {
  height: 2 0px;
}

.container-menu {
  display: flex;
  justify-content: center;
}
.food {
  padding: 5% 0;
}
.food-menu {
  width: 280px;
  margin: 4px;
}
.food .food-card {
  width: 95%;
  margin: auto;
  padding: 4%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  box-shadow: 0px 1px 9px 8px #eee;
}

.food .fc-image {
  height: 170px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.food .fc-desc h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
}

.food .fc-desc p {
  font-family: Montserrat;
  font-size: 14px;
  color: #777;
}
.food .fc-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: darkred;
}

.food .price-tag {
  font-size: 16px;
}
.food .price-num {
  font-weight: 500;
  font-size: 18px;
}
.btn-pesan {
  margin-top: 8px;
  margin-bottom: 1px;
  text-align: center;
}
.btn-pesan .a {
  width: 100%;
}
.container-bwh {
  display: flex;
  justify-content: center;
  margin: auto;
}
.footer {
  font-family: "Montserrat", sans-serif;
  width: auto;
  padding: 5% 0;
  background-color: black;
  color: white;
}

.footer-desc h3 {
  margin-bottom: 20px;
}
.footer-desc p {
  line-height: 180%;
}
.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  padding: 5px 0;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.img-responsive {
  max-width: 150px;
  max-height: 150px;
}

.footer-content {
  padding-right: 5%;
  color: white;
}
.footer-need-help {
  padding-right: 15%;
  color: white;
}

.footer-follow {
  padding-left: 5%;
   color: white;
}
/* phone */
@media (max-width: 600px) {
  .container {
    width: 80%;
    margin: auto;
  }
  .nav-brand {
    text-align: left;
    margin: auto;
  }
  .nav-menu {
    display: none;
  }
  .nav-button {
    text-align: right;
    display: contents;
  }
  .hero-main {
    justify-content: center;
  }
  .container-main {
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .hero-tagline {
    text-align: center;
    margin: auto;
  }
  .hero-image {
    width: 24px;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .container-menu {
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  .food-menu {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .container-bwh {
    display: flex;
    margin: auto;
    flex-direction: column;
  }
}
